/* header*/

.topheader{
    background-color: #121921;
    height:30px;

}
.relative{
    position:relative;
    
}
.content{
    position:absolute;
    top:0px;
    right:65px;
}
.midheader{
    background-color:#222e3d;
}
.botheader{
    height:65px;
    background-color: #222e3d;

}
.botheader img{
    height:40px;
    width:95px;
    margin:15px 0 0 25px;;
}
.endheader{
    background-color:#222e3d;
    padding-left: 70px;
    height:30px;
    margin-top: -20px;
    /* position:relative; */
}
.endheader li{
    float:left;
    
}
.dropdown-content a{
    display:block;
    color: #666 !important;
    text-align: left;
    margin-left:0px !important;
    font-family:'Times New Roman', Times, serif;
}
.dropdown-content a:first-child{
    margin-top:6px;
}
.dropdown-content a:last-child{
    /* padding-bottom:6px !important; */
}
.dropdown-content:hover .dropdown-content span  {
    color:#ffc500 !important;
}


.endheader li{
    list-style: none;
}
 .endheader li a{
    text-decoration: none;
    color: #d4d4d4;
}

.endheader li a, .dropbtn{
    padding:3px 65px 3px 20px;
    /* padding:3px 25px; */
}
.dropdown-content>ul{
    /* padding:3px 25px; */
}
.endheader>div{
    margin-left: 40px;
}
.dropdown-content{
    background-color: #fff;
    /* max-width: 207px;    */
    max-width: 200px;
    height:375px;
    display:none;
}
.dropdown-content li{
    margin-bottom: -6px;
}
.dropdown:hover .dropdown-content{
    display: block;
}
.dropdown-content>li>a:hover{
    color: #ffc500 !important;
}
.endheader ul{
    margin-top :6px;
    padding:0px;
}
.dropbtn{
    font-weight: bold;
}

.endheader .cat1{
    position:relative;
}
.endheader .cat-level2 {
    display:none;   
    z-index: 10;
    background-color: #fff;
    height:375px;
    width:975px;
    box-shadow: 0px -2px 2px 0 rgb(0 0 0 / 25%);
}
.endheader .cat-level2 li a{
    width:280px; 
      
}
.cat-level2>li>a{
    font-weight:bold;
}

.dropdown-content .cat1:hover .cat-level2{
    display: inline !important;  
}
.cat-level2 li:hover>a{
    color: #ffc500 !important;
}
.cat-level1{
    width:200px;
}
.cat-level1{
    position:relative;
}
.dropdown-content .cat-level1>span{
    position:absolute;
    left:170px;
    top:7px; 
    font-size: 13px;
    width:30px;
    height:30px;
}
.cat-level2{
    position:absolute;
    left:200px;
}
#cat1-level2{
    top:-6px;
}
#cat2-level2{
    top:-36px;
}
#cat3-level2{
    top:-66px;
}
#cat4-level2{
    top:-96px;
}
#cat5-level2{
    top:-126px;
}
#cat6-level2{
    top:-156px;
}
#cat7-level2{
    top:-186px;
}
#cat8-level2{
    top:-216px;
}
#cat9-level2{
    top:-246px;
}
#cat10-level2{
    top:-276px;
}
#cat11-level2{
    top:-306px;
}
#cat12-level2{
    top:-336px;
}
.cat-level3{
    position:absolute;
    top:25px;
    /* left:300px; */
    /* display:none; */
    background-color: #fff;
    height:335px;
    
    /* box-shadow: 1px 1px 4px 0 rgb(0 0 0 / 25%); */
}
.cat-level3>span>a{
    margin-top: -1px !important;
}
.cat-level3>span:hover a{
    color:#ffc500 !important;
}

.cat1-level2-no3{
margin-left:-80px;
}.cat1-level2-no2{
    margin-left:-80px;
    }


#search-text{
    margin:15px 0 0 0;
}
#search-text button{
    background-color: #ffc500;
    height:35px;
    width:35px;
    border-radius: 0 5px 5px 0;
}
#search-text input{
    width:680px;
    height:35px;
    border-radius: 5px 0 0 5px;;
}
#search-text i{
    margin-left: -3px;
}
#cart-notify{
    margin-top:15px;
}
#cart-notify button{
    height:35px;
    background-color: #ffc500;
    color:#121921;
    border-radius: 5px;
    font-size: 12px;
    font-weight: bold;
    margin-left:-15px;
    padding-top:2px;
}
#cart-notify i{
    height:35px;
    width:35px;
}
/*  */


/* main-ads*/
#mainads{
    background-color: #dc684d !important;
    height:374px;
    
}
.xakho{
    height:376px;
    width:652px;
    /* width:650px; */
    /* margin:-2px 0 0 -64px; */
    margin:-2px 0 0 -64px;
}
.rightimage img{
    width:320px;
    height:185px;
    display: block;   
}
.rightimage{
    float:right;

    margin-right:-5px;
} 
/* slide */
#slide{
    /* max-width: 1170px; */
    margin-left: 105px;
    margin-bottom: 15px;
}


.owl-carousel .owl-nav {
    overflow: hidden;
    height: 0px;
  }
.owl-prev{
    position: absolute;
    top:40px;
    left: 1120px;
    height:100px;
    width:40px;
    box-shadow: -10px 4px 7px   #c8c8c8 ;
    border-radius: 0 2px 2px 0;
} 
.owl-next{
    position: absolute;
    top:40px;
    left: -5px;
    height:100px;
    width:40px;
    box-shadow: 10px 4px 7px   #c8c8c8 ;
    border-radius: 0 2px 2px 0;
} 
.owl-carousel .owl-dot {
    width: 10px;
    height: 5px;
    display: inline-block;
    /* background: #fc0; */
    margin: 10px;
    border-radius: 50%;
}

.owl-carousel .owl-dot.active {
    background: #ff3f4d;
}

.owl-carousel .owl-dot.active:before {
    content: "";
    height: 10px;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7618b', endColorstr='#2a78f7', GradientType=1);
    position: absolute;
    z-index: 99;
    left: 0;
}

.owl-scrollbar {
    margin-top: 0px;
    border-radius: 10px;
    /* height: px; */
    width: 100%;
    background: #fff;
    /* border: 1px solid #e4e4e4; */
    /* box-shadow: inset 0 0 10px -9px rgba(30, 30, 30, .4); */
    position: relative;
}

.owl-scrollbar .owl-scroll-handle {
    height: 5px;
    width: 5px; /*15*/
    border-radius: 8px;
    display: inline-block;
    background: #999;
    position: absolute;
    top: -5px;
    left: -1px; /*-1 */
}

.owl-scrollbar .owl-scroll-handle:hover {
    transform: scale(2);
    transition: transform .2s ease-in-out;
}

.owl-scrollbar .owl-scroll-progress {
    background: #333;
    height: 5px;
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
}

 #main #slide h3{
     /* text-align: center; */
     margin-left: 400px;
     color:#232f3e;
 }
#main #slide  .item{
    height:280px;  
    padding:10px 15px 0px 22px;
    background-color: #fff;
}
#main #slide .item p{
    font-size: 15px;
    color: #acb5b6;
    margin-bottom:4px;
    margin-left: 3px;
}
#main #slide .item a p{
    font-size:  15px;
    font-weight:600;
    color:#333;
    margin-top:10px;
}
#main #slide  .item a{
    text-decoration: none;
}
#main #slide .item a:hover  p{
    color: #ffc500;
}
#main #slide .item img{
    height:130px;
    margin-right:3px;
    /* width:130px; */
}
#slide .item span {
  color:#ff6600;
}
/* maincontent*/
.ads{
    background-color: #2b9df6;
    padding: 30px;
}

.ads ul li{
    display:inline-block;
    /* padding-right:10px; */
    padding-left:10px;

}
.ads ul li:last-child{
    margin:10px 0 -10px 0;
    
}
.ads ul li:first-child{
    margin-left: -10px;
    padding-left:0px !important;
}
.boxmenu{
    border: 1px solid white;
    border-radius: 15px ;
    position:relative;
    margin-top:25px;
    padding-top:10px;
}
.secondmenu1{
    position:absolute;
    left:120px;
    top:4px;                                                                            
}.secondmenu2{
    position:absolute;
    left:120px;
    top:44px;                                                                            
}
.boxmenu  a{
  color:#fff !important;
}
#maincontent .container .row{
    max-height:506px;
}
.baiphone{
    height: 151px;
    width:253px;
}
.content1 ,.content2 ,.content3{
    /* margin-top: 30px; */
}
.content1 .tablink1 {
  background-color: #0c5198;
  color: #fff;
  /* margin-left: 0px; */
   padding:0px 0px;
  height:35px;
  width:86px;
  border: none;
  outline: none;
  margin-top: -5px;
}
.content1 .mainmenu{
    background-color: #0b67c6;
    max-width: 172px;
} 
.mainmenu ul{
 margin:0 -20px 0 -50px;
 /* margin:0 -10px 0 -55px; */
 color:#fff;
 padding-right:-15px;
 /* padding-left:40px; */
 /* max-width: 202px; */

}
.mainmenu li{
    /* background-color: #0b67c6; */
    list-style: none;
    font-size: 16px;
    float:left;
    padding-top:5px;
    margin-left: -5px;                 
    margin-right: 5px;  
    /* width:85px;                */
}
.listmenu>a:hover{
    color:#fffc00 !important;
}
.boxmenu a:hover{
    color:#fffc00 !important;

} 
.content1 .mainmenu li{
    background-color: #0b67c6;

}
.mainmenu ul p{
    margin-bottom:5px;
}
.listmenu a{
    display:block;
    text-decoration: none;
    font-size: 16px;
    padding:7.5px 0;
    font-family:Helvetica;   
    color: #fff !important;
    text-align: center;
} 
.mainmenu li:hover .listmenu a{
    
}
 .listmenu a:last-child{
    margin-bottom: 8px !important;
 }

#maincontent{
    background-color: #f7f7f7;
}
/* content1 */
.grid-container {
    display: grid;
    grid-gap: 10px;
    background-color: #f7f7f7;
    grid-template-columns: 170px 170px 170px 170px;
    grid-template-rows: 250px 250px;
    
    padding:0 10px;
}
  
.grid-container > div {
    background-color: #ffffff;   
}
.item1{
  grid-column:1 /  3; 
  
}
#maincontent a{
    text-decoration: none;
    color:#333 ;
}
#maincontent .text-item1 p{
    color: #acb5b6;
}
#maincontent span{
    color:#ff6600;
}
#maincontent .text-item1 a p{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 30px;
}
#maincontent .img-item1{
    margin:40px 0 0px 25px;
    height:180px;
    /* width:90px; */
    width:130px;
}
#maincontent .text-item1{
    float:right;
    padding:80px 20px 0 0;
}
#maincontent .text-item1 p{
    margin-top:-10px;}

#maincontent .img-item2{
    padding:15px 25px;
    margin-top: 10px;
}
#maincontent .item2 a p{
    font-size:  15px;
    font-weight:600;
    color:#333;
    margin:-10px 0 10px 20px;
    text-align: justify;
}
#maincontent .item2 p{
    margin:0px 0 0px 20px;
    color:#acb5b6;   
}
.img-item2{
    height:130px;
    /* width:120px; */
    width:130px;
    text-align: center;
    margin-left: 25px;
}
.img-item1{
    height:184px;
    width:92px;
}
/* content2 */
#maincontent .content2 .ads{
    background-color: #e2829d;
}
.content2 .tablink2 {
    background-color: #9c3552;
    color: #fff;
    /* margin-left: 0px; */
     padding:0px 0px;
    height:35px;
    width:86px;
    border: none;
    outline: none;
    margin-top: -5px;
  }
  .content2 .mainmenu li{
    background-color: #c14a6c;

}
.content2 .mainmenu{
    background-color: #c14a6c;
    max-width: 172px;
}
/* #maincontent .content2 .mainmenu{
    background-color: #c14a6c;
}
#maincontent .content2 .mainmenu li{
    background-color: #9c3552;
} */
/* #maincontent .content2 .mainmenu li:hover{
    background-color: #c14a6c;
} */
/* content3 */
#maincontent .content3 .ads{
    background-color: #ff8400;
}
.content3 .tablink3{
    background-color: #b96205;
    color: #fff;
    /* margin-left: 0px; */
     padding:0px 0px;
    height:35px;
    width:86px;
    border: none;
    outline: none;
    margin-top: -5px;
  }
  .content3 .mainmenu li{
    background-color: #ea7b04;

}
.content3 .mainmenu{
    background-color: #ea7b04;
    max-width: 172px;
}
/* #maincontent .content3 .mainmenu{
    background-color: #ea7b04;
}
#maincontent .content3 .mainmenu li{
    background-color: #b96205;
} */
/* #maincontent .content3 .mainmenu li:hover{
    background-color: #ea7b04;
} */
#maincontent .text-maincontent{
    background-color: #dedede;
    width: 170px;
    height:45px;  
    padding:10px 0 20px 5px; 
    margin:50px 0 0px 498px;
    border-radius: 30px;
    border:#dedede;
}

 .text-endmain button{
    background-color: #fec505;
    width:360px;
    height:60px;
    border-radius: 30px;
    margin:20px 0 0 525px;
    padding:0px 0 0 10px;
    border:2px solid #fec550; 
}

/* footer */
#footer {
    background-color: #232f3e;
    margin-top: 20px;

}
#footer .container{
    margin-top: 20px;
}
#footer p{
    display :block;
    color:#9c9fa4;
    font-size: 14px;
}

.infor li{
    list-style: none;
    margin-top:10px;
}
.title-footer{
    font-size:21px !important;
    color: #fff !important;
}
#footer ul{
    margin-left:-15px;
}
.infor{
    padding:30px 0;
    margin-bottom: 30px;
}
.app{
    margin:10px 0 ;
}
#endfooter{
    background-color: #232f3e;
    padding:30px;
    margin-top: -30px;
}
#endfooter .border-top{
   margin-top:20px;
}
.address li{
    display:inline-block;
    list-style: none;
}
#endfooter p{
    font-size: 14px;
    color:#9c9fa4;
}
#endfooter .contact{
    margin:0 0 10px 40px;
    color:#fff;
    font-size: 21px;
}
#endfooter .address span{
    color:#fec505;
}
/* bar */
.absolute{
    position:absolute;
    position: fixed;
}
.rightbar{ 
    top:0px; 
     width:45px;
    height:2690px;
    right:10px; 
    background-color: #1a2430;
    font-size: 12px;
}
.rightbar p{
    margin:0 0 0 -42px;
    color: #fff;
    text-align: center;
}
.rightbar .left li{
   list-style: none;

}
.leftbar{
     top:135px;
    width:35px;
    height:2735px;
    left:20px; 
    /* background-color: gray; */
    font-size: 12px;
}
.leftbar>div{
    padding-top: 0px;
}
.rightbar ul{
    margin-top: 185px;
}
.rightbar li{
    margin-top:40px;
}

